$primary-color: #000000;
$second-color: #ffffff;
$text-gray-color: #757575;
$alpha-black-15: rgba(0, 0, 0, 0.15);
$alpha-black-08: rgba(0, 0, 0, 0.8);
$color-grey-bg: #f8f8f8;
$alpha-black-6: rgba(0, 0, 0, 0.6);
$alpha-black-5: rgba(0, 0, 0, 0.5);
$alpha-black-9: rgba(0, 0, 0, 0.9);
$alpha-black-25: rgba(0, 0, 0, 0.25);
$color-grey-bg-2: #fefefe;

// font size

$fs-10: 0.667rem;
$fs-12: 0.8rem;
$fs-13: 0.867rem;
$fs-14: 0.933rem;
$fs-15: 1rem;
$fs-16: 1.067rem;
$fs-18: 1.2rem;
$fs-20: 1.333rem;
$fs-24: 1.6rem;
$fs-26: 1.733rem;
$fs-28: 1.867rem;
$fs-30: 2rem;
$fs-36: 2.4rem;
$fs-40: 2.667rem;
$fs-48: 3.2rem;
$fs-50: 3.333rem;
$fs-60: 4rem;
