:root {
  --primary-color: #000000; /* This is the variable declaration */
  --second-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  position: relative;
  font-family: var(--font-mont);
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.button {
  background-color: var(--primary-color);
  color: var(--second-color);
  border-radius: 5px;
  padding: 15px 15px;
  text-align: center;
  font-size: 0.9rem;
  outline: none;
  border: none;
  width: 100%;
  cursor: pointer;
}

.centered {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1 {
  margin-bottom: 50px;
  font-family: "Lato", sans-serif;
  font-size: 50px;
}

.message {
  display: inline-block;
  line-height: 1.2;
  transition: line-height 0.2s, width 0.2s;
  overflow: hidden;
}

.message,
.hidden {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
}

.hidden {
  color: #fff;
}

input {
  padding: 1em;
}

.bannerFooter {
  & > img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

@media (min-width: 768px) {
  .bannerFooter {
    & > img {
      width: 100%;
      height: 450px;
      object-fit: cover;
    }
  }
}

@media (min-width: 1700px) {
  .bannerFooter {
    & > img {
      width: 100%;
      height: 550px;
      object-fit: cover;
    }
  }
}
