@import "../../styles/variable.module";

.tournament {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3em;
  padding: 20px;
  margin: 100px 0;
  & > div {
    & > div:nth-child(2) {
      margin-top: 50px;
    }
  }
}

.table {
  display: flex;
  flex-direction: column;
}

.tableHeader {
  padding: 2em 1em;
  background-color: $primary-color;
  color: $second-color;
  border-radius: 8px 8px 0 0;
  & > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $fs-07;
    font-weight: 500;
    line-height: 21px;
    li {
      width: 100%;
      text-align: center;
    }
  }
}

.tableRow {
  border: 1px solid $primary-color;
  padding: 1em;
  & > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $fs-07;
    font-weight: 600;
    line-height: 21px;
    li {
      width: 100%;
      text-align: center;
    }
  }
  &:last-child{
    border-radius: 0px 0px 8px 8px;
  }
}

.tableRowResulte {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid $primary-color;
  padding: 1em;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: $fs-07;
    font-weight: 600;
    line-height: 21px;
  };
  &:last-child{
    border-radius: 0px 0px 8px 8px;
  }
}

@media (min-width: 900px) {
  .tournament {
    grid-template-columns: 1fr 1fr;
    padding: 50px;
  }
}

@media (min-width: 1440px) {
  .table {
    max-width: 500px;
    margin: auto;
  }
  .tableHeader {
    padding: 2.25em 0.8em;
    ul {
      font-size: $fs-14;
    }
  }
  .tournament {
    grid-template-columns: 1fr 1fr;
    padding: 20px 90px;
    & > div {
      & > div:nth-child(2) {
        margin-top: 100px;
      }
    }
  }
}

@media (min-width: 1800px) {
  .table {
    max-width: 650px;
    margin: auto;
    padding: 0.5em 0.5em;
  }
  .tableHeader {
    padding: 2.75em 0.5em;
    ul {
      font-size: $fs-18;
    }
  }

  .tableRow {
    ul {
      font-size: $fs-12;
    }
  }
  .tableRowResulte {
    border-top: 0;
    border-bottom: 2px solid $primary-color;
    border-left: 2px solid $primary-color;
    border-right: 2px solid $primary-color;
  }
  .tableRow {
    border-top: 0;
    border-bottom: 2px solid $primary-color;
    border-left: 2px solid $primary-color;
    border-right: 2px solid $primary-color;
  }
  .tournament {
    grid-template-columns: 1fr 1fr;
    padding: 20px 90px;
    gap: 0;
    margin: 100px 0;
  }
}
