@import "../../styles/variable.module";

.tournament {
  display: grid;
  grid-template-columns: 1fr;
  padding: 40px;
  h3 {
    margin: 30px 0 50px 0;
  }
  th {
    padding: 5px 5px;
    font-size: $fs-10;
    font-weight: 700;
  }
  tr {
    border-bottom: 1px solid $table-border-color;
    text-align: center;
    font-size: $fs-10;
    font-weight: 400;
  }

  td {
    width: 30px;
  }

  td:first-child {
    padding: 0.2em;
    width: 200px;
  }
  th:last-child {
    width: 50px;
  }
}

.border {
  border: 1px solid $table-border-color;
}

.table {
  border-collapse: collapse;
  width: 100%;
  border: 1px $table-border-color solid;
  margin-bottom: 50px;
}

.player {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2em;
  padding: 0.2em 0.5em;
  img {
    width: 25px;
    height: 15px;
  }

  p {
    font-weight: 400;
    font-size: $fs-10;
  }
}

.firstSet {
  span {
    background: #dbdbdb;
    padding: 3px 6.63px 3px 6.81px;
    font-weight: 700;
  }
}

@media (min-width: 900px) {
  .tournament {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    padding: 90px 90px 0px 90px;
    gap: 1em;
    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    h3 {
      width: 380px;
      font-weight: 600;
      font-size: $fs-22;
    }
  }
  .table {
    width: 380px;
  }
}

@media (min-width: 1800px) {
  .tournament {
    h3 {
      font-size: $fs-32;
      width: 450px;
    }
    th {
      font-size: $fs-12;
    }
    tr {
      font-size: $fs-14;
    }
  }
  .table {
    width: 450px;
  }
  .player {
    gap: 0.5em;
    img {
      width: 35px;
      height: 20px;
    }
    p {
      font-size: $fs-14;
    }
  }
}
