@import "../../styles/variable.module";

.tournament {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3em;
  padding: 20px;
  margin: 50px 0;
  & > div {
    & > div:nth-child(2) {
      margin-top: 50px;
    }
  }
  h3{
    margin: .2em 0;
  }
  p{
    margin: .2em 0;
  }
  button {
    text-transform: uppercase;
  }
}

.buttonsLinks {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 2em;
  text-transform: uppercase;
}

.content {
  h2 {
    margin-bottom: 1em;
  }
  ul {
    margin-top: 0.5em;
    li {
      list-style: decimal;
      margin-left: 2em;
    }
    span {
      font-weight: bold;
    }
    .listDisc {
      list-style: disc;
    }
  }
}
.listDisc {
  list-style: disc;
}

.spanRanking:nth-child(2) {
  margin-left: 1em;
}

.redLi {
  color: #c8102e;
}

.boldText {
  font-weight: bold;
  font-size: $fs-18;
}

.table {
  margin-top: 2em;
  font-size: $fs-12;

  & > div {
    display: flex;
  }
}

.ERKEKdouble {
  width: 100%;
  height: 70px;
  padding: 0.5em;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.empty {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  height: 40px;
}

.KADINdouble {
  width: 100%;
  padding: 0.5em;
  height: 40px;
  border-left: 1px solid black;
}

.ERKEKdoubleRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70px;
  border: 1px solid black;
  width: 100%;
  gap: 0.4em;
  & > div {
    text-align: center;
    width: 100%;
  }
}

.emptyRow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.ERKEKdoubleCategorie {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: center;
  height: 70px;
  border: 1px solid black;
  border-left: 0;
  width: 100%;
  gap: 0.4em;
}

.EmptyCategorie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  height: 40px;
}

.KADINdoubleRow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.MIXdouble {
  width: 100%;
  padding: 0.5em;
  height: 120px;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.MIXdoubleRow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.separator {
  content: "";
  width: 100%; /* or any other width you prefer */
  height: 1px; /* adjust the height as needed */
  background-color: #000; /* or any color you prefer */
  margin: 0 10px; /* adjust the margin as needed */
}

.displayFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.linksWinterCankayaLeague {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 1em;

  & > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
  }
  & > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1em;
    & > div {
      display: flex;
      width: 100%;
    }
  }
}

.contentTable {
  margin: 2em 0;
  & > div {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    div {
      border: 1px solid $primary-color;
      padding: 0.8em;
      font-size: $fs-12;
    }
    & > div:nth-child(1) {
      text-align: center;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
    & > div:nth-child(2) {
      max-width: 500px;
    }
  }
}

.contentTableWinterLeague {
  margin: 2em 0;
  & > div {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    div {
      border: 1px solid $primary-color;
      padding: 0.8em;
      font-size: $fs-12;
    }
    & > div:nth-child(1) {
      text-align: center;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
    & > div:nth-child(2) {
      max-width: 500px;
    }
  }
}

.rankingRow {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  overflow: scroll;
  & > div {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px 60px;
    text-align: center;
    & > div {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $primary-color;
      padding: 0.5em;
      font-size: $fs-10;
    }
  }
  .rankingRowCankayaLeague {
    display: grid;
    grid-template-columns: 60px 120px 120px;
  }
}

.detailsPlaysOffRow {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  overflow: scroll;
  & > div {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px;
    text-align: center;
    & > div {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $primary-color;
      padding: 0.8em;
      font-size: $fs-10;
    }
  }
  .detailsPlaysOffRowCankayaLeague {
    display: grid;
    grid-template-columns: 120px 120px;
  }
}

.summerBilkentLeague {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1em;

  & > div:nth-child(1),
  div:nth-child(2) {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
  }

  & > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
  }
}

.summerBilkentLeagueTable {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  padding: 0.5em 0;
  & > div {
    display: flex;
    width: 100%;
    max-width: 700px;
    & > div {
      border: 1px solid $primary-color;
      padding: 0.5em;
      text-align: center;
      width: 100%;
      color: #c8102e;
    }
  }
}

.summerCankayaLeagueTable {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  padding: 0.5em 0;
  & > div {
    display: flex;
    width: 100%;
    max-width: 700px;
    & > div {
      border: 1px solid $primary-color;
      padding: 0.5em;
      text-align: center;
      width: 100%;
      color: $primary-color;
    }
  }
}

.contentTable {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  .tableRow {
    display: flex;
    justify-content: space-between;

    > div {
      flex: 1;
      padding: 8px;
    }
    > div:nth-child(1) {
      max-width: 70px;
    }
    > div:nth-child(3) {
      max-width: 70px;
    }
  }
  .tableHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.rowCankayaLeague {
  width: 200px;
}

@media (min-width: 900px) {
  .tournament{
    h3{
      margin: 0em 0;
    }
    p{
      margin: 0em 0;
    }
  }
  .detailsPlaysOffRow {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    & > div {
      grid-template-columns: 100px 100px 100px 100px;
    }
    .detailsPlaysOffRowCankayaLeague {
      grid-template-columns: 200px 200px;
    }
  }

  .contentTableWinterLeague {
    & > div {
      grid-template-columns: 100px 0.5fr;
    }
  }

  .summerBilkentLeague {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    gap: 2em;

    & > div:nth-child(1),
    div:nth-child(2) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 2em;
    }
    & > div:nth-child(3) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2em;
      a {
        max-width: 300px;
      }
    }
  }
  .linksWinterCankayaLeague {
    & > div:nth-child(1) {
      flex-direction: row;
    }

    & > div:nth-child(2) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      a {
        max-width: 300px;
      }
      & > div:nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      & > div:nth-child(2) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }
  }
  .contentTable {
    & > div {
      grid-template-columns: 0.1fr 1fr;
    }
  }

  .rankingRow {
    overflow: hidden;
    & > div {
      grid-template-columns: 100px 100px 100px 100px 70px 70px;
    }
    .rankingRowCankayaLeague {
      display: grid;
      grid-template-columns: 100px 200px 170px;
    }
  }
  .tournament {
    grid-template-columns: 1fr;
    padding: 50px 120px;
  }
  .buttonsLinks {
    flex-direction: row;
    margin-bottom: 2em;
  }
  .table {
    font-size: $fs-16;
  }
  .content {
    h2 {
      margin-bottom: 1em;
      font-size: $fs-32;
      font-weight: 600;
    }
    h3 {
      margin: 0.5em 0;
    }
    ul {
      margin: 0.5em 0;
      li {
        list-style: decimal;
        margin-left: 2em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }
    }
  }
  .spanRanking:nth-child(2) {
    margin-left: 2em;
  }
  .ERKEKdouble {
    width: 200px;
  }
  .ERKEKdoubleCategorie {
    width: 200px;
  }
  .ERKEKdoubleRow {
    width: 200px;
  }
}
