@import "../../styles/variable.module";

.infoSection {
  padding: 40px 10px;
  margin: auto;
}

.infoContainer {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  ul {
    li {
      list-style: disc;
      margin: 1.25em 1em;
      font-weight: 600;
    }
  }
}

.infoTextDescription {
  margin: 1em 0.8em;
}

.infoTextMobile {
  padding: 1em;
}

.playersImage {
  max-width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.playersImagePrivate {
  max-width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.infoText {
  padding: 20px 20px 30px;
  color: $primary-color;
  font-size: $fs-16;
  line-height: 30px;
  span {
    font-weight: 700;
  }
}
.infoTextPrivate {
  padding: 20px 20px 30px;
  color: $primary-color;
  font-size: $fs-16;
  line-height: 30px;
  p {
    margin-bottom: 1em;
  }
}

.infoTextDeskTop {
  display: none;
}

@media (min-width: 900px) {
  .infoSection {
    padding: 140px 100px;
  }

  .playersImage {
    float: left;
    margin-right: 20px;
    max-width: 500px;
    height: 380px;
    border-radius: 8px;
  }

  .playersImagePrivate {
    float: left;
    margin-right: 20px;
    max-width: 500px;
    height: 380px;
    border-radius: 8px;
  }

  .infoTextPrivate {
    padding: 0px;
    color: $primary-color;
    line-height: 30px;
    p {
      margin-bottom: 1em;
      font-size: 0.9rem;
    }
  }
  .infoContainer {
    box-shadow: none;
    overflow: hidden; /* Clear the float */
  }

  .infoText {
    padding: 0;
  }
}

@media (min-width: 1340px) {
  .infoTextMobile {
    display: none;
  }
  .infoTextDeskTop {
    display: flex;
    flex-direction: column;
  }
  .infoTextDeskTopDescription {
    margin: 0.5em 0;
  }
  .infoSection {
    max-width: 1400px;
    ul {
      margin-left: 0.5em;
      li {
        list-style: disc;
        margin: 1.25em 2em;
        font-weight: 600;
      }
    }
  }
}

@media (min-width: 1700px) {
  .infoSection {
    max-width: 1700px;
    ul {
      li {
        font-size: $fs-18;
        line-height: 30px;
      }
    }
  }

  .infoTextPrivate {
    padding: 0px;
    color: $primary-color;
    line-height: 30px;
    p {
      margin-bottom: 1.25em;
      font-size: $fs-18;
    }
  }

  .infoText {
    span {
      font-size: $fs-18;
    }
  }

  .infoTextDeskTopDescription {
    font-size: $fs-18;
  }

  .playersImage {
    max-width: 700px;
    height: 410px;
  }

  .playersImagePrivate {
    max-width: 700px;
    height: 410px;
  }

  .infoText {
    font-size: $fs-18;
  }
}
