@import "../../styles/variable.module";

.topspinBackground {
  display: flex;
  width: 100%;

  > div {
    position: unset !important;
  }

  .BackgroundImage {
    object-fit: cover;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

.overlay{
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.BackgroundImage {
  width: 100%;
  height: 100%;
}

@media (min-width: 700px) {
  .topspinBackground {
    height: 500px;
  }
  .BackgroundImage {
    object-fit: cover;
  }
}

@media (min-width: 1800px) {
  .topspinBackground {
    height: 650px;
  }
}

.quoteSection {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  video {
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 100%;
    top: 0;
    left: 0;
  }
  h3 {
    z-index: 2;
    position: absolute;
    font-weight: 600;
    color: $second-color;
    font-size: $fs-10;
    line-height: 57.6px;
  }
  @media (min-width: 500px) {
    height: 300px;
    h3 {
      font-size: $fs-18;
    }
  }
  @media (min-width: 900px) {
    h3 {
      font-size: $fs-22;
    }
  }

  @media (min-width: 1200px) {
    height: 400px;
    h3 {
      font-size: $fs-26;
    }
  }

  @media (min-width: 1440px) {
    height: 450px;
    h3 {
      font-size: $fs-32;
    }
  }
  @media (min-width: 1800px) {
    height: 550px;
    h3 {
      font-size: $fs-44;
    }
  }
}
