@import "../../styles/variable.module";

.quoteSection {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  video {
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 100%;
    top: 0;
    left: 0;
  }
  h3 {
    position: absolute;
    font-weight: 600;
    color: $second-color;
    font-size: $fs-10;
    line-height: 57.6px;
  }
  @media (min-width: 500px) {
    height: 300px;
    h3 {
      font-size: $fs-18;
    }
  }
  @media (min-width: 900px) {
    h3 {
      font-size: $fs-22;
    }
  }

  @media (min-width: 1200px) {
    height: 400px;
    h3 {
      font-size: $fs-26;
    }
  }

  @media (min-width: 1440px) {
    height: 450px;
    h3 {
      font-size: $fs-32;
    }
  }
  @media (min-width: 1800px) {
    height: 550px;
    h3 {
      font-size: $fs-44;
    }
  }
}
