@import "../../styles/variable.module";

.quoteSection {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    height: 100%;
  }
  h3 {
    position: absolute;
    font-weight: 600;
    color: $second-color;
    font-size: $fs-10;
    line-height: 57.6px;
  }
  @media (min-width: 500px) {
    h3 {
      font-size: $fs-18;
    }
  }
  @media (min-width: 900px) {
    h3 {
      font-size: $fs-28;
    }
  }
  @media (min-width: 1440px) {
    h3 {
      font-size: $fs-44;
    }
  }
}
