@import "../../styles/variable.module";

.flickityViewSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  overflow: hidden;
  padding: 20px 0;
  margin: 0px 0px;
  background-color: $primary-color;
  h2 {
    color: $second-color;
    margin: 1em 20px 40px;
    font-size: $fs-26;
    font-weight: 600;
    padding: 0;
  }
  button {
    display: none;
  }
  & > div {
    width: 100%;
    padding: 1em 0;
  }
}

.carouselCell {
  display: flex;
  width: 230px !important;
  height: 300px;
  border-radius: 8px;
  a {
    cursor: pointer;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      transition: transform 0.3s;
      object-fit: cover;
      object-position: top;
    }
    span {
      border-radius: 8px;
      width: 100%;
      height: 100%;
      position: absolute;
      background: linear-gradient(0deg, $alpha-black-08, transparent 35%);
      transition: transform 0.3s;
      box-shadow: 0 0 10px $alpha-black-5;
    }
    & > div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 20px;
      border-radius: 8px;
      z-index: 1;
      h3 {
        color: $second-color;
        font-weight: 400;
        font-size: $fs-14;
      }
      p.informationText {
        position: absolute;
        bottom: 50px;
        margin-left: 1.2em;
        margin-right: 1.2em;
        margin-bottom: 1em;
        color: $second-color;
        opacity: 0;
        transition: all 1s;
      }
      p.pointsText {
        /* position: absolute;
        bottom: 30px; */
        margin-left: 0em;
        margin-top: 0.6em;
        margin-bottom: 1em;
        color: $second-color;
        opacity: 0;
        transition: all 1s;
      }
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.747);
      img {
        transform: scale(1.1);
      }
      span {
        transform: scale(1.1);
      }
      p.informationText {
        opacity: 1;
      }
      p.pointsText {
        opacity: 0.65;
      }
    }
  }
}

.threeCells {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media (min-width: 900px) {
  .displayFlex {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mainCarousel {
    padding: 1em;
  }
  .flickityViewSection {
    padding: 50px 0 50px;
    margin: 0 auto 0px;
    h2 {
      text-align: center;
      color: $second-color;
      font-size: $fs-28;
      margin: 5px 0;
      margin-bottom: 30px;
    }
    & > div {
      position: relative;
      .leftButton,
      .rightButton {
        z-index: 1;
        display: block;
        position: absolute;
        top: 45%;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        padding: 1px 6px;
        background-color: $alpha-black-6;
        border: none;
        outline: none;
        cursor: pointer;
        transition: opacity 0.3s; /* Add a smooth transition for opacity */
      }

      .leftButton {
        left: 10px;
        z-index: 2;
      }

      .rightButton {
        right: 10px;
        z-index: 2;
        img {
          transform: rotate(180deg);
        }
      }

      .leftButton:active,
      .rightButton:active {
        opacity: 0.6;
      }
    }
  }
}

@media (min-width: 1500px) {
  .carouselCell {
    width: 300px !important;
    height: 420px;
  }
  .flickityViewSection {
    h2 {
      color: $second-color;
      font-size: $fs-32;
      margin: 20px 0;
    }
  }
}
