@import "../../styles/variable.module";

.navbar {
  display: flex;
  color: $second-color;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 100;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);
  opacity: 1;
  padding: 1em 1.25em;
}

.sticky {
  position: fixed;
  top: 0;
  background-color: $primary-color;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
  z-index: 100;
}

.logo {
  display: flex;
  width: 150px;
  img {
    width: 100%;
  }
}

.navSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.langSwitcher {
  display: none;
}

.reservationSection {
  display: none;
}

.menuButton {
  display: none;
}

.menuSection {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.menuButtonMobile {
  padding: 0.5em;
}

.langMenu {
  display: none;
}

.MenuNav {
  display: none;
}

.nav {
  display: none;
}

.image {
  display: none;
}

@media (min-width: 900px) {
  .image {
    display: block;
    z-index: 100;
    position: fixed;
    width: 45%;
    height: 100%;
    object-fit: cover;
    transform: translateX(-100%);
    transition: 1s all;
    top: 0;
    left: 0;
  }

  .nav {
    z-index: 100;
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 55%;
    padding: 1em 2em;
    background-color: $second-color;
    transform: translateX(100%);
    transition: 1s all;
  }

  .MenuNavOpen {
    display: flex;
    z-index: 100;
  }

  .reset {
    transform: translateX(0%);
  }

  .closeBtn {
    top: 0;
    right: 0;
    padding: 1em 2em;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    cursor: pointer;
  }
  .ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 70%;
    li {
      font-size: $fs-20;
      text-transform: uppercase;
    }
  }

  .navbar {
    padding: 1em 1em;
  }

  .logo {
    margin-left: 2.2em;
    width: 160px;
    height: 35px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .menuButtonMobile {
    display: none;
  }

  .reservationSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
    p {
      font-size: $fs-14;
      font-weight: 500;
    }

    & > a {
      display: flex;
      align-items: center;
      padding: 5px 15px;
      gap: 9px;
      cursor: pointer;
      & > div {
        img {
          width: 21px;
          height: 14px;
        }
      }
      &:hover {
        opacity: 0.7;
        transition: opacity 0.4s ease-in-out;
      }
    }
  }

  .langSwitcher {
    border: 1px solid white;
    border-radius: 100%;
    width: 27px;
    height: 27px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .langMenu {
    display: none;
  }

  .menuButton {
    cursor: pointer;
    display: block;
    img {
      height: 24px;
    }
  }
}

@media (min-width: 1200px) {
  .menuButtonMobile {
    display: none;
  }
  .reservationSection {
    & > a {
      padding: 5px 30px;
    }
  }
  .langSwitcher {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    img {
      border-radius: 100%;
    }
    &:hover {
      .langMenu {
        opacity: 1;
      }
    }
  }
  .langMenu {
    position: absolute;
    transition: opacity 0.3s ease-in;
    opacity: 0;
    top: 30px;
    display: flex;
    padding: 0.6em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    background-color: $second-color;
    border-radius: 10px;
    a {
      color: $primary-color;
      font-size: $fs-12;
      cursor: pointer;
      &:hover {
        color: $text-gray-color;
      }
    }
  }
}

@media (min-width: 1440px) {
  .navbar {
    padding: 1em 1.4em;
  }
  .logo {
    margin-left: 1.5em;
    margin-top: 0.1em;
    width: 150px;
    height: 35px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .reservationSection {
    margin-right: 1em;
    p {
      font-size: $fs-14;
      font-weight: 600;
    }
    & > a {
      & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 28px;
          height: 19px;
          margin-right: 0.2em;
        }
      }
    }
  }
  .langSwitcher {
    width: 35px;
    height: 35px;
  }
  .langMenu {
    top: 40px;
  }
  .menuButton {
    margin-left: 0.5em;
    img {
      height: 30px;
    }
  }
}
