@import "../../styles/variable.module";

.sliderSection {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  button {
    display: none;
  }
  & > div {
    width: 100%;
    padding: 0px 0 0px;
  }
}

.swiperSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 290px;
  height: 480px;
  a {
    display: flex;
    position: relative;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      object-fit: cover;
      transition: transform 0.3s;
    }
    span {
      border-radius: 8px;
      width: 100%;
      height: 100%;
      position: absolute;
      background: linear-gradient(0deg, $alpha-black-08, transparent 35%);
      transition: transform 0.3s;
    }
    & > div {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      border-radius: 8px;
      z-index: 1;
      transition: all 1s;
      &:hover {
        background-color: rgba(0, 0, 0, 0.747);
        p {
          opacity: 1;
        }
      }
      h3 {
        margin-left: 1em;
        margin-bottom: 1em;
        color: $second-color;
      }
      p {
        position: absolute;
        bottom: 50px;
        margin-left: 1.2em;
        margin-bottom: 1em;
        color: $second-color;
        opacity: 0;
        transition: all 1s;
      }
    }
  }
}

@media (min-width: 900px) {
  .sliderSection {
    .leftButton,
    .rightButton {
      display: block;
      position: absolute;
      top: 45%;
      border-radius: 50%;
      width: 70px;
      height: 70px;
      padding: 1px 6px;
      background-color: $alpha-black-6;
      border: none;
      outline: none;
      cursor: pointer;
      transition: opacity 0.3s; /* Add a smooth transition for opacity */
    }

    .leftButton {
      left: 10px;
      z-index: 2;
    }

    .rightButton {
      right: 10px;
      z-index: 2;
      img {
        transform: rotate(180deg);
      }
    }

    .leftButton:active,
    .rightButton:active {
      opacity: 0.6;
    }
  }

  .swiperSlide {
    max-width: 330px;
    overflow: hidden;
    border-radius: 10px;
    :hover {
      img {
        transform: scale(1.1);
      }
      span {
        transform: scale(1.1);
      }
    }
  }
}

@media (min-width: 1440px) {
  .swiperSlide {
    max-width: 400px !important;
    height: 520px !important;
    a {
      & > div {
        h3 {
          font-size: $fs-24;
          font-weight: 600;
        }
      }
    }
  }
}

@media (min-width: 1800px) {
  .swiperSlide {
    max-width: 450px !important;
    height: 650px !important;
    a {
      & > div {
        h3 {
          font-size: $fs-24;
          font-weight: 600;
        }
        p {
          padding: 1em .4em;
        }
      }
    }
  }
}
